.buttongroup-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.buttongroup-container button {
  background-color: #f7ecff;
  color: #4a0072;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  flex: 1;
  transition: background-color 0.3s ease; /* Smooth hover transition */
  min-height: 50px;
}

.buttongroup-container button.active {
  background-color: #4a0072;
  color: white;
}
