.mapview-toggle-container {
  display: flex;
  gap: 1rem;
  /* margin: 1rem 0; */
  justify-content: center;
}

.mapview-btn {
  padding: 0.5rem 1.2rem;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: 0.3s ease;
}

.mapview-btn:hover {
  background-color: #f0f0f0;
}

.mapview-btn.active {
  background-color: #1d4ed8;
  color: white;
  border-color: #1d4ed8;
}

.legend {
  position: absolute;
  top: 20px;
  right: 20px;
  background: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 0.8rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  z-index: 10;
  font-family: "NotoSansThai";
}

.legend h4 {
  margin: 0 0 8px;
  font-size: 0.8 rem;
}

.legend ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.legend li {
  margin-bottom: 6px;
  display: flex;
  align-items: center;
}

.legend span {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid #999;
  box-sizing: border-box;
}
